<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Across the World</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-page">
  <ion-list>
    <button ion-item *ngFor="let place of places" (click)="itemTapped($event, item)">
      <img class="flag-img" src="{{place.flag}}" />
      {{place.capital}}
      <div class="item-note" item-right>
        {{place.country}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
